<div class="row-fluid">
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      <img src="http://lorempixel.com/output/nightlife-q-g-720-480-3.jpg" />
	    </li>
	    <li>
	      <img src="http://lorempixel.com/output/nightlife-q-g-720-480-3.jpg" />
	    </li>
	    <li>
	      <img src="http://lorempixel.com/output/nightlife-q-g-720-480-3.jpg" />
		  <p class="flex-caption">Captions and cupcakes. Winning combination.</p>
	    </li>
	  </ul>
	</div>
</div>
