<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{title}} - {{layoutName}} {{pageName}}</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

<link rel="stylesheet" href="/assets/lib/bootstrap-sass/bootstrap.css">
<link rel="stylesheet" href="/assets/lib/bootstrap-sass/responsive.css">
<link rel="stylesheet" href="/assets/css/style.css">
<link rel="stylesheet" href="/assets/lib/font-awesome/font-awesome.css">
<link rel="stylesheet" href="/assets/lib/flexslider/flexslider.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:300|Titillium+Web:200' rel='stylesheet' type='text/css'>
<script src="/assets/lib/modernizr/modernizr.js"></script>
