<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="row-fluid">
				<div class="span8">
					<h1><a class="brdand" href="index.html">{{title}}</a></h1>
				</div>
				<div class="span4">
					<hr class="navbar-divider" />
				   	<div class="links clearfix">
						{{>navigation-bar-links}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>