<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/assets/scripts/lib/jquery/jquery.min.js"><\/script>')</script>

<script>
    var _gaq=[['_setAccount','UA-34597387-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

<!-- build:js scripts/plugins.js -->
<script src="/assets/lib/bootstrap-sass/bootstrap-dropdown.js"></script>
<script src="/assets/lib/bootstrap-sass/bootstrap-collapse.js"></script>
<!--
<script src="scripts/vendor/bootstrap/bootstrap-affix.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-alert.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-tooltip.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-modal.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-transition.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-button.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-popover.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-typeahead.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-carousel.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-scrollspy.js"></script>
<script src="scripts/vendor/bootstrap/bootstrap-tab.js"></script>
-->
<!-- endbuild -->

<script src="/assets/lib/flexslider/jquery.flexslider-min.js"></script>

<script src="/assets/lib/labjs/LAB.min.js"></script>
<script src="/assets/scripts/main.js"></script>
